@model ErrorViewModel
@{
    this.ViewData["Title"] = "Error";
}
<div id="alert"></div>

@if (this.Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@this.Model.RequestId</code>
    </p>
}

<h3 class="text-danger">@Model.ErrorMessage</h3>
