@using DesignAndBuilding.Common
@using DesignAndBuilding.Data.Models
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> userManager;
@{
    this.ViewData["Title"] = "Начало";
    ApplicationUser user = await userManager.GetUserAsync(this.User);
}
<div id="alert"></div>
<div class="text-center" id="container">
    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <div class="card-body text-justify col-7">
            Добре дошли в администраторския панел на платформата. Чрез менютата <strong>Всички обекти</strong> и <strong>Admin</strong> може да следите и контролирате данните в приложението.
        </div>
    }
    @if (user != null && user.DesignerType == DesignerType.Architect)
    {
        <div>
            Добре дошли, архитекти!
        </div>
    }
    else
    {
        <div class="card border border-info">
            <div class="card-header font-weight-bold border-info h3">Добре дошли!<br /> Това е първата в България електронна платформа за сформиране на проектански колективи в строителството, на базата на аукцион с тайно наддаване в реално време!</div>
            <div class="card-body text-left h5">
                <b>Как работи системата?</b>
                <br />
                <ol>
                    <li>Архитектът въвежда основни данни за обекта</li>
                    <br />
                    <li>Изготвя задания към съответните части на инвестиционния проект – СК, ЕЛ, ВИК и др. за който търси специалисти.</li>
                    <br />
                    <li>След това инженерите имат възможност да предложат своята цена за проектиране. Това става под формата на аукцион с тайно наддаване до крайния срок(дата и час, който е определил архитекта). </li>
                    <br />
                    <li>Накрая архитекта има възможност да се свърже със избрания от него специалист за сключване на договор.</li>
                </ol>
            </div>
        </div>
    }

</div>
