@using DesignAndBuilding.Common
@using DesignAndBuilding.Data.Models
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> userManager;
@{
    this.ViewData["Title"] = "Начало";
    ApplicationUser user = await userManager.GetUserAsync(this.User);
}
<div id="alert"></div>
<div class="text-center" id="container">
    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <div class="card-body text-justify col-7">
            Добре дошли в администраторския панел на платформата. Чрез менютата <strong>Всички обекти</strong> и <strong>Admin</strong> може да следите и контролирате данните в приложението.
        </div>
    }
    @if (user != null && (user.UserType == UserType.Architect || user.UserType == UserType.InvestmentCompany || user.UserType == UserType.InvestmentPerson))
    {
        <div class="h4">
            Здравейте! Пожелаваме Ви приятна работа!
        </div>
    }
    @if (!this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <div class="card p-5">
            <div class="font-weight-bold h3 p-4 card-header background-cyan">
                ЕЛЕКТРОННА ПЛАТФОРМА ЗА СФОРМИРАНЕ НА ПРОЕКТАНСКИ КОЛЕКТИВИ В СТРОИТЕЛСТВОТО
                <br />
                <div class="h4">на базата на аукцион с тайно наддаване в реално време</div>
            </div>
            <div class="card-body text-left h6 text-justify card-body">
                <ul>
                    <li class="text-justify">Настоящата платформа има за цел да обедини в една обща мрежа всички участници в процеса на инвестиционото проектиране в строителството. Това са всички архитекти в България, членове на Камара на архитектите в България (КАБ) и всички инженери с пълна проектанска правоспособност (ППП) членове на Камара на инженерите в инвестиционното проектиране (КИИП).</li>
                    <br />
                    <li class="text-justify">Основната задача на платформата е да помогне на архитектите да сформират оптимален проектански колетив от инженери за всеки отделен проект, който им е възложен, като получат възможно най-ниската цена получена чрез аукцион с тайно наддаване в реално време. От друга всички инженери участници в инвестиционното проектиране, получават достъп до обектите, които предстои да се проектират и имат възможност да предложат своята цена.</li>
                    <br />
                    <li class="text-justify">
                        По този начин всеки възложител получава най-добрата пазарна цена от наличните проектанти от съответната специалност.
                    </li>
                </ul>
            </div>
        </div>
    }

</div>
