@using DesignAndBuilding.Web.ViewModels.Building
@model BuildingDetailsViewModel
@{
    this.ViewData["Title"] = "My Buildings";
}

<p>@Model.Name</p>
<p>@Model.TotalBuildUpArea</p>
<p>@Model.BuildingType</p>