.topbar .nav-link,
.topbar .nav-link span,
/*.topbar .navbar-text {
    color: #858796 !important;*/ /* darker gray / near black */
/*}*/
body {
    color: #3D3E45 !important;
}


nav.navbar.topbar {
    position: relative;
    z-index: 1050;
}

#content-wrapper {
    min-height: auto !important;
}

.w-30 {
    width: 30% !important;
}

.w-65 {
    width: 65% !important;
}

.w-40 {
    width: 40% !important;
}

